.course-description {
  padding: 80px 0;
  text-align: center;
  min-height: 55vh;
}

.course-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.course-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.course-info {
  text-align: left;
}

.course-info h2 {
  font-size: 24px;
  color: #333;
}

.course-info p {
  font-size: 14px;
  color: #666;
  margin: 5px 0;
}

.course-description p {
  font-size: 16px;
  color: #333;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

/* ปรับขนาดและสไตล์ของปุ่ม Study */
.common-i {
  display: inline-block;
   /* ให้ปุ่มขนาดตามเนื้อหา */
  padding: 10px 20px; /* เพิ่มความกว้างของ padding เพื่อให้ปุ่มใหญ่ขึ้น */
  background-color: #218838;
  color: white;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 20px;
}

.common-i:hover {
  background-color: #218838;
  transform: translateY(-2px);
}

.common-i:active {
  transform: translateY(2px);
}

.study-button {
  display: flex;
  justify-content: center; /* จัดปุ่มให้อยู่ตรงกลาง */
}