.quiz-card {
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    transition: 0.5s;
  
    &:hover {
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
    }
  
   
  
    h3 {
      font-size: 18px;
      color: #333;
      margin-bottom: 10px;
    }
  
    p {
      font-size: 14px;
      color: #666;
      margin-bottom: 5px;
    }
  }
  